@charset "UTF-8";

body{
	background-color: #0000ff;
	color: rgba(0,0,0,1);	
}

div#interface {
	width: 800px;
	background-color: #ffffff;
	margin: 0px auto 10px auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,1);
	padding: 20px;
}

header#cabeçalho img#logo {
	position: absolute;
	top: 5px;
	left: 5px;
}

header#cabecalho {
	border-bottom: 1px #000000 solid;
	height: 240px;
}

header#cabecalho h3 {
	font-family: Verdana;
	font-size: 10pt;
	color: #000000;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

/*Formatação do Menu*/
nav#menu {
	display: block;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;	
	position: absolute;
	top: 0px;
	left: 850px;
}

nav#menu li {
	display: inline-block;
	background-color: #FFAA00;
	padding: 10px;
	margin: 5px;
	transition: background-color 1s;
	box-shadow: 1px 1px 4px black;	
}

nav#menu li:hover {
	background-color: #f0f0f0;
	box-shadow: 1px 1px 2px blue;
}

nav#menu h1 {
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;	
}

nav#menu a:hover {
	color: #0000ff;
}

section#principal {
	display: block;
	float: center;
}

p{
	margin: 10px;
	text-align: justify;
	font-family: verdana, arial;
	font-size: 15pt;
	text-indent: 50px;
}
ul{
	text-align: justify;
	font-family: verdana, arial;
	font-size: 15pt;
}
h1 {
	margin: 15px;
	text-align: left;
	font-family: verdana, arial;
	font-size: 30pt;
	font-weight: bold;
}

h2 {
	margin: 15px;
	text-align: left;
	font-family: verdana, arial;
	font-size: 20pt;
	font-weight: bold;	
}

h3 {
	margin: 15px;
	text-align: left;
	font-family: verdana, arial;
	font-size: 15pt;
	font-weight: bold;	
}

h4 {
	margin: 15px;
	text-align: left;
	font-family: verdana, arial;
	font-size: 12pt;
	font-weight: bold;	
}

a {
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #3030ff;
}


footer#rodape {
	display: block;
	float: center;
	border-top: 1px solid #000000;
}

footer#rodape p {
	text-align: right;
	font-family: verdana, arial;
	font-size: 10pt;		
}

